.card {
  display: inline-block;
  padding: 28px 18px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.3);
  width: 335px;
  height: 578px;
  margin-bottom: 56px;
}

.card img {
  width: 299px;
  height: 255px;
}

.cardDescription {
  padding: 23px 14px;
}

.card h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.card p {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 12px;
}

.projectButton {
  background-color: var(--primary);
  color: #fff;
}

.projectButton:nth-child(2) {
  margin-top: 18px;
}
.buttons {
  margin-top: 33px;
  display: inline-block;
  text-align: center;
}
