.card {
  display: flex;
  flex-direction: column;
  padding: 28px 18px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.3);
  width: 335px;
  margin-bottom: 56px;
}

.card:last-child {
  margin-bottom: 0;
}

.cardDescription {
  padding: 23px 14px;
}

.card h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.card p {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 12px;
}

.card img {
  height: 100%;
  max-height: 214px;
  width: 271px;
  object-fit: cover;
  object-position: top;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.projectButton {
  background-color: var(--primary);
  color: #fff;
}

.projectButton:focus {
  box-shadow: 0 0 0 5px #fff, 0 0 0 8px var(--primary);
  outline: none;
}

.projectButton:nth-child(2) {
  margin-top: 18px;
}
.buttons {
  margin-top: 33px;
  display: inline-block;
  text-align: center;
}

@media (min-width: 1000px) {
  .card {
    height: 335px;
    width: 600px;
    flex-direction: row;
    margin-bottom: 75px;
  }

  .card:last-child {
    margin-bottom: 0;
  }
  .card:nth-child(even) {
    flex-direction: row-reverse;
  }
}
