.alert {
  border-radius: 30px;
  color: #fff;
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert p {
  margin: 0;
  padding: 8px 8px;
  font-size: 0.8rem;
}

.danger {
  background-color: var(--error);
}

.success {
  background-color: var(--success);
}

.text {
  opacity: 1;
}
