.button {
  cursor: pointer;

  height: 40px;
  width: 227px;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  border-radius: 95px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
