.mobileMenu {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  --webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menuAppear {
  will-change: transform;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menuDisappear {
  will-change: transform;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navList:focus {
  outline: none;
}

.navItems {
  padding: 35px 0;
  font-weight: 600;
}

.navItems a {
  color: #fff;
  font-size: 40px;
  position: relative;
}

.navItems a:focus-visible {
  box-shadow: 0 0 0 5px var(--primary), 0 0 0 8px #fff;
  outline: none;
}

.navItems a::after {
  content: "";
  height: 2px;
  width: 0%;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
}

.navItems a:hover::after {
  width: 100%;
  opacity: 1;
}

.emptyHamburgerButton {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.emptyHamburgerButton:focus {
  box-shadow: 0 0 0 5px var(--primary), 0 0 0 8px #fff;
  outline: none;
}
